In [2]:
# Import libraries and set desired options

from __future__ import division, print_function
# Disable Anaconda warnings
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns

import pickle
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from scipy.sparse import hstack
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression

In [3]:
# Read the training and test data sets
train_df = pd.read_csv('../../data/train_sessions.csv',
                       index_col='session_id')
test_df = pd.read_csv('../../data/test_sessions.csv',
                      index_col='session_id')

# Switch time1, ..., time10 columns to datetime type
times = ['time%s' % i for i in range(1, 11)]
train_df[times] = train_df[times].apply(pd.to_datetime)
test_df[times] = test_df[times].apply(pd.to_datetime)

# Sort the data by time
train_df = train_df.sort_values(by='time1')

# Look at the first rows of the training set
train_df.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
session_id,,,,,,,,,,,,,,,,,,,,,
21669,56,2013-01-12 08:05:57,55.0,2013-01-12 08:05:57,NaN,NaT,NaN,NaT,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
54843,56,2013-01-12 08:37:23,55.0,2013-01-12 08:37:23,56.0,2013-01-12 09:07:07,55.0,2013-01-12 09:07:09,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
77292,946,2013-01-12 08:50:13,946.0,2013-01-12 08:50:14,951.0,2013-01-12 08:50:15,946.0,2013-01-12 08:50:15,946.0,2013-01-12 08:50:16,...,2013-01-12 08:50:16,948.0,2013-01-12 08:50:16,784.0,2013-01-12 08:50:16,949.0,2013-01-12 08:50:17,946.0,2013-01-12 08:50:17,0
114021,945,2013-01-12 08:50:17,948.0,2013-01-12 08:50:17,949.0,2013-01-12 08:50:18,948.0,2013-01-12 08:50:18,945.0,2013-01-12 08:50:18,...,2013-01-12 08:50:18,947.0,2013-01-12 08:50:19,945.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:20,0
146670,947,2013-01-12 08:50:20,950.0,2013-01-12 08:50:20,948.0,2013-01-12 08:50:20,947.0,2013-01-12 08:50:21,950.0,2013-01-12 08:50:21,...,2013-01-12 08:50:21,946.0,2013-01-12 08:50:21,951.0,2013-01-12 08:50:22,946.0,2013-01-12 08:50:22,947.0,2013-01-12 08:50:22,0

In [4]:
# Change site1, ..., site10 columns type to integer and fill NA-values with zeros
sites = ['site%s' % i for i in range(1, 11)]
train_df[sites] = train_df[sites].fillna(0).astype('int')
test_df[sites] = test_df[sites].fillna(0).astype('int')

# Load websites dictionary
with open(r"../../data/site_dic.pkl", "rb") as input_file:
    site_dict = pickle.load(input_file)

# Create dataframe for the dictionary
sites_dict = pd.DataFrame(list(site_dict.keys()), index=list(site_dict.values()), columns=['site'])
print(u'Websites total:', sites_dict.shape[0])
sites_dict.head()

Websites total: 48371

                                     site
25075              www.abmecatronique.com
13997                     groups.live.com
42436  majeureliguefootball.wordpress.com
30911           cdt46.media.tourinsoft.eu
8104                  www.hdwallpapers.eu

In [6]:
sites_dict[sites_dict.index == 1]

                         site
1  fpdownload2.macromedia.com

In [7]:
# Answer
print(test_df.shape, train_df.shape)

(82797, 20) (253561, 21)

In [8]:
# Our target variable
y_train = train_df['target']

# United dataframe of the initial data 
full_df = pd.concat([train_df.drop('target', axis=1), test_df])

# Index to split the training and test data sets
idx_split = train_df.shape[0]

In [9]:
train_df.shape, test_df.shape, full_df.shape

((253561, 21), (82797, 20), (336358, 20))

In [10]:
# Dataframe with indices of visited websites in session
full_sites = full_df[sites]
full_sites.head()

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10
session_id,,,,,,,,,,
21669,56,55,0,0,0,0,0,0,0,0
54843,56,55,56,55,0,0,0,0,0,0
77292,946,946,951,946,946,945,948,784,949,946
114021,945,948,949,948,945,946,947,945,946,946
146670,947,950,948,947,950,952,946,951,946,947

In [11]:
full_sites.shape

(336358, 10)

In [12]:
# sequence of indices
sites_flatten = full_sites.values.flatten()

# and the matrix we are looking for
full_sites_sparse = csr_matrix(([1] * sites_flatten.shape[0],
                                sites_flatten,
                                range(0, sites_flatten.shape[0]  + 10, 10)))[:, 0:]

In [31]:
len(set(sites_flatten))

48372

In [9]:
full_sites_sparse.shape

(336358, 48371)

Получили обычный bagofwords, в первой строке стоят единицы в 55 и 56 столбцах. Во второй строке стоят двойки в 55 и 56 столбцах.

In [20]:
full_sites_sparse[:60,:].toarray()[0:2,50:60]

array([[0, 0, 0, 0, 0, 1, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 2, 2, 0, 0, 0]], dtype=int32)

In [21]:
sites_flatten.shape

(3363580,)

In [22]:
sites_flatten.shape

(3363580,)

In [23]:
sites_flatten[0:15]

array([56, 55,  0,  0,  0,  0,  0,  0,  0,  0, 56, 55, 56, 55,  0])

In [24]:
def get_auc_lr_valid(X, y, C=1.0, seed=17, ratio = 0.9):
    # Split the data into the training and validation sets
    idx = int(round(X.shape[0] * ratio))
    # Classifier training
    lr = LogisticRegression(C=C, random_state=seed, n_jobs=-1).fit(X[:idx, :], y[:idx])
    # Prediction for validation set
    y_pred = lr.predict_proba(X[idx:, :])[:, 1]
    # Calculate the quality
    score = roc_auc_score(y[idx:], y_pred)
    
    return score

In [25]:
%%time
# Select the training set from the united dataframe (where we have the answers)
X_train = full_sites_sparse[:idx_split, :]

# Calculate metric on the validation set
print(get_auc_lr_valid(X_train, y_train))

0.915752379727
Wall time: 6.88 s

### Попробую сделать кросс-валидацию/GreedSearchCV

In [32]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

logit = LogisticRegression(random_state=17, class_weight='balanced')
logit_pipe = Pipeline([('logit', logit)])
logit_pipe_params = {'logit__C': np.logspace(-8, 8, 17)}

In [38]:
idx = int(X_train.shape[0]*0.9)

In [40]:
logit.fit(X_train[:idx], y_train[:idx])

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=17,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [44]:
#logreg_grid = GridSearchCV(logit_pipe, logit_pipe_params, cv=3, n_jobs=-1, scoring='roc_auc', verbose=True)

In [ ]:
logreg_grid.fit(X_train, y_train)

In [42]:
y_pred = logit.predict_proba(X_train[idx:, :])[:, 1]

In [43]:
roc_auc_score(y_train[idx:], y_pred)

0.90152186895053443

In [13]:
# Function for writing predictions to a file
def write_to_submission_file(predicted_labels, out_file,
                             target='target', index_label="session_id"):
    predicted_df = pd.DataFrame(predicted_labels,
                                index = np.arange(1, predicted_labels.shape[0] + 1),
                                columns=[target])
    predicted_df.to_csv(out_file, index_label=index_label)

In [14]:
idx_split

253561

In [16]:
# Train the model on the whole training data set
# Use random_state=17 for repeatability
# Parameter C=1 by default, but here we set it explicitly
lr = LogisticRegression(C=1.0, random_state=17).fit(X_train, y_train)

# Make a prediction for test data set
X_test = full_sites_sparse[idx_split:,:]
y_test = lr.predict_proba(X_test)[:, 1]

# Write it to the file which could be submitted
write_to_submission_file(y_test, 'baseline_1.csv')

## Попробую разобраться что за данные скормлены в регрессию

In [13]:
try_fl = np.array([1, 2, 4, 5])

In [24]:
list(range(0, sites_flatten.shape[0]  + 10, 10))[0:-3]

[0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190,
 200,
 210,
 220,
 230,
 240,
 250,
 260,
 270,
 280,
 290,
 300,
 310,
 320,
 330,
 340,
 350,
 360,
 370,
 380,
 390,
 400,
 410,
 420,
 430,
 440,
 450,
 460,
 470,
 480,
 490,
 500,
 510,
 520,
 530,
 540,
 550,
 560,
 570,
 580,
 590,
 600,
 610,
 620,
 630,
 640,
 650,
 660,
 670,
 680,
 690,
 700,
 710,
 720,
 730,
 740,
 750,
 760,
 770,
 780,
 790,
 800,
 810,
 820,
 830,
 840,
 850,
 860,
 870,
 880,
 890,
 900,
 910,
 920,
 930,
 940,
 950,
 960,
 970,
 980,
 990,
 1000,
 1010,
 1020,
 1030,
 1040,
 1050,
 1060,
 1070,
 1080,
 1090,
 1100,
 1110,
 1120,
 1130,
 1140,
 1150,
 1160,
 1170,
 1180,
 1190,
 1200,
 1210,
 1220,
 1230,
 1240,
 1250,
 1260,
 1270,
 1280,
 1290,
 1300,
 1310,
 1320,
 1330,
 1340,
 1350,
 1360,
 1370,
 1380,
 1390,
 1400,
 1410,
 1420,
 1430,
 1440,
 1450,
 1460,
 1470,
 1480,
 1490,
 1500,
 1510,
 1520,
 1530,
 1540,
 1550,
 1560,
 1570,
 1580,
 1590,
 1600,
 1610,
 1620,
 1630,
 1640,
 1650,
 1660,
 1670,
 1680,
 1690,
 1700,
 1710,
 1720,
 1730,
 1740,
 1750,
 1760,
 1770,
 1780,
 1790,
 1800,
 1810,
 1820,
 1830,
 1840,
 1850,
 1860,
 1870,
 1880,
 1890,
 1900,
 1910,
 1920,
 1930,
 1940,
 1950,
 1960,
 1970,
 1980,
 1990,
 2000,
 2010,
 2020,
 2030,
 2040,
 2050,
 2060,
 2070,
 2080,
 2090,
 2100,
 2110,
 2120,
 2130,
 2140,
 2150,
 2160,
 2170,
 2180,
 2190,
 2200,
 2210,
 2220,
 2230,
 2240,
 2250,
 2260,
 2270,
 2280,
 2290,
 2300,
 2310,
 2320,
 2330,
 2340,
 2350,
 2360,
 2370,
 2380,
 2390,
 2400,
 2410,
 2420,
 2430,
 2440,
 2450,
 2460,
 2470,
 2480,
 2490,
 2500,
 2510,
 2520,
 2530,
 2540,
 2550,
 2560,
 2570,
 2580,
 2590,
 2600,
 2610,
 2620,
 2630,
 2640,
 2650,
 2660,
 2670,
 2680,
 2690,
 2700,
 2710,
 2720,
 2730,
 2740,
 2750,
 2760,
 2770,
 2780,
 2790,
 2800,
 2810,
 2820,
 2830,
 2840,
 2850,
 2860,
 2870,
 2880,
 2890,
 2900,
 2910,
 2920,
 2930,
 2940,
 2950,
 2960,
 2970,
 2980,
 2990,
 3000,
 3010,
 3020,
 3030,
 3040,
 3050,
 3060,
 3070,
 3080,
 3090,
 3100,
 3110,
 3120,
 3130,
 3140,
 3150,
 3160,
 3170,
 3180,
 3190,
 3200,
 3210,
 3220,
 3230,
 3240,
 3250,
 3260,
 3270,
 3280,
 3290,
 3300,
 3310,
 3320,
 3330,
 3340,
 3350,
 3360,
 3370,
 3380,
 3390,
 3400,
 3410,
 3420,
 3430,
 3440,
 3450,
 3460,
 3470,
 3480,
 3490,
 3500,
 3510,
 3520,
 3530,
 3540,
 3550,
 3560,
 3570,
 3580,
 3590,
 3600,
 3610,
 3620,
 3630,
 3640,
 3650,
 3660,
 3670,
 3680,
 3690,
 3700,
 3710,
 3720,
 3730,
 3740,
 3750,
 3760,
 3770,
 3780,
 3790,
 3800,
 3810,
 3820,
 3830,
 3840,
 3850,
 3860,
 3870,
 3880,
 3890,
 3900,
 3910,
 3920,
 3930,
 3940,
 3950,
 3960,
 3970,
 3980,
 3990,
 4000,
 4010,
 4020,
 4030,
 4040,
 4050,
 4060,
 4070,
 4080,
 4090,
 4100,
 4110,
 4120,
 4130,
 4140,
 4150,
 4160,
 4170,
 4180,
 4190,
 4200,
 4210,
 4220,
 4230,
 4240,
 4250,
 4260,
 4270,
 4280,
 4290,
 4300,
 4310,
 4320,
 4330,
 4340,
 4350,
 4360,
 4370,
 4380,
 4390,
 4400,
 4410,
 4420,
 4430,
 4440,
 4450,
 4460,
 4470,
 4480,
 4490,
 4500,
 4510,
 4520,
 4530,
 4540,
 4550,
 4560,
 4570,
 4580,
 4590,
 4600,
 4610,
 4620,
 4630,
 4640,
 4650,
 4660,
 4670,
 4680,
 4690,
 4700,
 4710,
 4720,
 4730,
 4740,
 4750,
 4760,
 4770,
 4780,
 4790,
 4800,
 4810,
 4820,
 4830,
 4840,
 4850,
 4860,
 4870,
 4880,
 4890,
 4900,
 4910,
 4920,
 4930,
 4940,
 4950,
 4960,
 4970,
 4980,
 4990,
 5000,
 5010,
 5020,
 5030,
 5040,
 5050,
 5060,
 5070,
 5080,
 5090,
 5100,
 5110,
 5120,
 5130,
 5140,
 5150,
 5160,
 5170,
 5180,
 5190,
 5200,
 5210,
 5220,
 5230,
 5240,
 5250,
 5260,
 5270,
 5280,
 5290,
 5300,
 5310,
 5320,
 5330,
 5340,
 5350,
 5360,
 5370,
 5380,
 5390,
 5400,
 5410,
 5420,
 5430,
 5440,
 5450,
 5460,
 5470,
 5480,
 5490,
 5500,
 5510,
 5520,
 5530,
 5540,
 5550,
 5560,
 5570,
 5580,
 5590,
 5600,
 5610,
 5620,
 5630,
 5640,
 5650,
 5660,
 5670,
 5680,
 5690,
 5700,
 5710,
 5720,
 5730,
 5740,
 5750,
 5760,
 5770,
 5780,
 5790,
 5800,
 5810,
 5820,
 5830,
 5840,
 5850,
 5860,
 5870,
 5880,
 5890,
 5900,
 5910,
 5920,
 5930,
 5940,
 5950,
 5960,
 5970,
 5980,
 5990,
 6000,
 6010,
 6020,
 6030,
 6040,
 6050,
 6060,
 6070,
 6080,
 6090,
 6100,
 6110,
 6120,
 6130,
 6140,
 6150,
 6160,
 6170,
 6180,
 6190,
 6200,
 6210,
 6220,
 6230,
 6240,
 6250,
 6260,
 6270,
 6280,
 6290,
 6300,
 6310,
 6320,
 6330,
 6340,
 6350,
 6360,
 6370,
 6380,
 6390,
 6400,
 6410,
 6420,
 6430,
 6440,
 6450,
 6460,
 6470,
 6480,
 6490,
 6500,
 6510,
 6520,
 6530,
 6540,
 6550,
 6560,
 6570,
 6580,
 6590,
 6600,
 6610,
 6620,
 6630,
 6640,
 6650,
 6660,
 6670,
 6680,
 6690,
 6700,
 6710,
 6720,
 6730,
 6740,
 6750,
 6760,
 6770,
 6780,
 6790,
 6800,
 6810,
 6820,
 6830,
 6840,
 6850,
 6860,
 6870,
 6880,
 6890,
 6900,
 6910,
 6920,
 6930,
 6940,
 6950,
 6960,
 6970,
 6980,
 6990,
 7000,
 7010,
 7020,
 7030,
 7040,
 7050,
 7060,
 7070,
 7080,
 7090,
 7100,
 7110,
 7120,
 7130,
 7140,
 7150,
 7160,
 7170,
 7180,
 7190,
 7200,
 7210,
 7220,
 7230,
 7240,
 7250,
 7260,
 7270,
 7280,
 7290,
 7300,
 7310,
 7320,
 7330,
 7340,
 7350,
 7360,
 7370,
 7380,
 7390,
 7400,
 7410,
 7420,
 7430,
 7440,
 7450,
 7460,
 7470,
 7480,
 7490,
 7500,
 7510,
 7520,
 7530,
 7540,
 7550,
 7560,
 7570,
 7580,
 7590,
 7600,
 7610,
 7620,
 7630,
 7640,
 7650,
 7660,
 7670,
 7680,
 7690,
 7700,
 7710,
 7720,
 7730,
 7740,
 7750,
 7760,
 7770,
 7780,
 7790,
 7800,
 7810,
 7820,
 7830,
 7840,
 7850,
 7860,
 7870,
 7880,
 7890,
 7900,
 7910,
 7920,
 7930,
 7940,
 7950,
 7960,
 7970,
 7980,
 7990,
 8000,
 8010,
 8020,
 8030,
 8040,
 8050,
 8060,
 8070,
 8080,
 8090,
 8100,
 8110,
 8120,
 8130,
 8140,
 8150,
 8160,
 8170,
 8180,
 8190,
 8200,
 8210,
 8220,
 8230,
 8240,
 8250,
 8260,
 8270,
 8280,
 8290,
 8300,
 8310,
 8320,
 8330,
 8340,
 8350,
 8360,
 8370,
 8380,
 8390,
 8400,
 8410,
 8420,
 8430,
 8440,
 8450,
 8460,
 8470,
 8480,
 8490,
 8500,
 8510,
 8520,
 8530,
 8540,
 8550,
 8560,
 8570,
 8580,
 8590,
 8600,
 8610,
 8620,
 8630,
 8640,
 8650,
 8660,
 8670,
 8680,
 8690,
 8700,
 8710,
 8720,
 8730,
 8740,
 8750,
 8760,
 8770,
 8780,
 8790,
 8800,
 8810,
 8820,
 8830,
 8840,
 8850,
 8860,
 8870,
 8880,
 8890,
 8900,
 8910,
 8920,
 8930,
 8940,
 8950,
 8960,
 8970,
 8980,
 8990,
 9000,
 9010,
 9020,
 9030,
 9040,
 9050,
 9060,
 9070,
 9080,
 9090,
 9100,
 9110,
 9120,
 9130,
 9140,
 9150,
 9160,
 9170,
 9180,
 9190,
 9200,
 9210,
 9220,
 9230,
 9240,
 9250,
 9260,
 9270,
 9280,
 9290,
 9300,
 9310,
 9320,
 9330,
 9340,
 9350,
 9360,
 9370,
 9380,
 9390,
 9400,
 9410,
 9420,
 9430,
 9440,
 9450,
 9460,
 9470,
 9480,
 9490,
 9500,
 9510,
 9520,
 9530,
 9540,
 9550,
 9560,
 9570,
 9580,
 9590,
 9600,
 9610,
 9620,
 9630,
 9640,
 9650,
 9660,
 9670,
 9680,
 9690,
 9700,
 9710,
 9720,
 9730,
 9740,
 9750,
 9760,
 9770,
 9780,
 9790,
 9800,
 9810,
 9820,
 9830,
 9840,
 9850,
 9860,
 9870,
 9880,
 9890,
 9900,
 9910,
 9920,
 9930,
 9940,
 9950,
 9960,
 9970,
 9980,
 9990,
 ...]

In [13]:
sites_flatten[0:13]

array([56, 55,  0,  0,  0,  0,  0,  0,  0,  0, 56, 55, 56])

In [17]:
csr_matrix(([1] * try_fl.shape[0], 
           try_fl,
           range(0, try_fl.shape[0], 1)))

<3x6 sparse matrix of type '<class 'numpy.int32'>'
	with 3 stored elements in Compressed Sparse Row format>

In [18]:
_.toarray()

array([[0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 0]])

In [21]:
row = np.array([0, 0, 1, 2, 2, 2])
col = np.array([0, 2, 2, 0, 1, 2])
data = np.array([1, 2, 3, 4, 5, 6])
csr_matrix((data, (row, col)), shape=(3, 3)).toarray()

array([[1, 0, 2],
       [0, 0, 3],
       [4, 5, 6]], dtype=int32)

In [22]:
csr_matrix((data, (row, col))).toarray()

array([[1, 0, 2],
       [0, 0, 3],
       [4, 5, 6]], dtype=int32)

In [5]:
indptr = np.array([0, 2, 3, 6])
indices = np.array([0, 2, 2, 0, 1, 2])
data = np.array([1, 2, 3, 4, 5, 6])
csr_matrix((data, indices, indptr), shape=(3, 3)).toarray()

array([[1, 0, 2],
       [0, 0, 3],
       [4, 5, 6]])

In [10]:
print (indices[0:2], data[0:2])
print (indices[2:3], data[2:3])
print (indices[3:6], data[3:6])

[0 2] [1 2]
[2] [3]
[0 1 2] [4 5 6]

In [24]:
csr_matrix((data, indices, indptr)).toarray()

array([[1, 0, 2],
       [0, 0, 3],
       [4, 5, 6]])

In [19]:
[1] * try_fl.shape[0]

[1, 1, 1, 1]

In [31]:
list(range(0, sites_flatten.shape[0]  + 10, 10))

[0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190,
 200,
 210,
 220,
 230,
 240,
 250,
 260,
 270,
 280,
 290,
 300,
 310,
 320,
 330,
 340,
 350,
 360,
 370,
 380,
 390,
 400,
 410,
 420,
 430,
 440,
 450,
 460,
 470,
 480,
 490,
 500,
 510,
 520,
 530,
 540,
 550,
 560,
 570,
 580,
 590,
 600,
 610,
 620,
 630,
 640,
 650,
 660,
 670,
 680,
 690,
 700,
 710,
 720,
 730,
 740,
 750,
 760,
 770,
 780,
 790,
 800,
 810,
 820,
 830,
 840,
 850,
 860,
 870,
 880,
 890,
 900,
 910,
 920,
 930,
 940,
 950,
 960,
 970,
 980,
 990,
 1000,
 1010,
 1020,
 1030,
 1040,
 1050,
 1060,
 1070,
 1080,
 1090,
 1100,
 1110,
 1120,
 1130,
 1140,
 1150,
 1160,
 1170,
 1180,
 1190,
 1200,
 1210,
 1220,
 1230,
 1240,
 1250,
 1260,
 1270,
 1280,
 1290,
 1300,
 1310,
 1320,
 1330,
 1340,
 1350,
 1360,
 1370,
 1380,
 1390,
 1400,
 1410,
 1420,
 1430,
 1440,
 1450,
 1460,
 1470,
 1480,
 1490,
 1500,
 1510,
 1520,
 1530,
 1540,
 1550,
 1560,
 1570,
 1580,
 1590,
 1600,
 1610,
 1620,
 1630,
 1640,
 1650,
 1660,
 1670,
 1680,
 1690,
 1700,
 1710,
 1720,
 1730,
 1740,
 1750,
 1760,
 1770,
 1780,
 1790,
 1800,
 1810,
 1820,
 1830,
 1840,
 1850,
 1860,
 1870,
 1880,
 1890,
 1900,
 1910,
 1920,
 1930,
 1940,
 1950,
 1960,
 1970,
 1980,
 1990,
 2000,
 2010,
 2020,
 2030,
 2040,
 2050,
 2060,
 2070,
 2080,
 2090,
 2100,
 2110,
 2120,
 2130,
 2140,
 2150,
 2160,
 2170,
 2180,
 2190,
 2200,
 2210,
 2220,
 2230,
 2240,
 2250,
 2260,
 2270,
 2280,
 2290,
 2300,
 2310,
 2320,
 2330,
 2340,
 2350,
 2360,
 2370,
 2380,
 2390,
 2400,
 2410,
 2420,
 2430,
 2440,
 2450,
 2460,
 2470,
 2480,
 2490,
 2500,
 2510,
 2520,
 2530,
 2540,
 2550,
 2560,
 2570,
 2580,
 2590,
 2600,
 2610,
 2620,
 2630,
 2640,
 2650,
 2660,
 2670,
 2680,
 2690,
 2700,
 2710,
 2720,
 2730,
 2740,
 2750,
 2760,
 2770,
 2780,
 2790,
 2800,
 2810,
 2820,
 2830,
 2840,
 2850,
 2860,
 2870,
 2880,
 2890,
 2900,
 2910,
 2920,
 2930,
 2940,
 2950,
 2960,
 2970,
 2980,
 2990,
 3000,
 3010,
 3020,
 3030,
 3040,
 3050,
 3060,
 3070,
 3080,
 3090,
 3100,
 3110,
 3120,
 3130,
 3140,
 3150,
 3160,
 3170,
 3180,
 3190,
 3200,
 3210,
 3220,
 3230,
 3240,
 3250,
 3260,
 3270,
 3280,
 3290,
 3300,
 3310,
 3320,
 3330,
 3340,
 3350,
 3360,
 3370,
 3380,
 3390,
 3400,
 3410,
 3420,
 3430,
 3440,
 3450,
 3460,
 3470,
 3480,
 3490,
 3500,
 3510,
 3520,
 3530,
 3540,
 3550,
 3560,
 3570,
 3580,
 3590,
 3600,
 3610,
 3620,
 3630,
 3640,
 3650,
 3660,
 3670,
 3680,
 3690,
 3700,
 3710,
 3720,
 3730,
 3740,
 3750,
 3760,
 3770,
 3780,
 3790,
 3800,
 3810,
 3820,
 3830,
 3840,
 3850,
 3860,
 3870,
 3880,
 3890,
 3900,
 3910,
 3920,
 3930,
 3940,
 3950,
 3960,
 3970,
 3980,
 3990,
 4000,
 4010,
 4020,
 4030,
 4040,
 4050,
 4060,
 4070,
 4080,
 4090,
 4100,
 4110,
 4120,
 4130,
 4140,
 4150,
 4160,
 4170,
 4180,
 4190,
 4200,
 4210,
 4220,
 4230,
 4240,
 4250,
 4260,
 4270,
 4280,
 4290,
 4300,
 4310,
 4320,
 4330,
 4340,
 4350,
 4360,
 4370,
 4380,
 4390,
 4400,
 4410,
 4420,
 4430,
 4440,
 4450,
 4460,
 4470,
 4480,
 4490,
 4500,
 4510,
 4520,
 4530,
 4540,
 4550,
 4560,
 4570,
 4580,
 4590,
 4600,
 4610,
 4620,
 4630,
 4640,
 4650,
 4660,
 4670,
 4680,
 4690,
 4700,
 4710,
 4720,
 4730,
 4740,
 4750,
 4760,
 4770,
 4780,
 4790,
 4800,
 4810,
 4820,
 4830,
 4840,
 4850,
 4860,
 4870,
 4880,
 4890,
 4900,
 4910,
 4920,
 4930,
 4940,
 4950,
 4960,
 4970,
 4980,
 4990,
 5000,
 5010,
 5020,
 5030,
 5040,
 5050,
 5060,
 5070,
 5080,
 5090,
 5100,
 5110,
 5120,
 5130,
 5140,
 5150,
 5160,
 5170,
 5180,
 5190,
 5200,
 5210,
 5220,
 5230,
 5240,
 5250,
 5260,
 5270,
 5280,
 5290,
 5300,
 5310,
 5320,
 5330,
 5340,
 5350,
 5360,
 5370,
 5380,
 5390,
 5400,
 5410,
 5420,
 5430,
 5440,
 5450,
 5460,
 5470,
 5480,
 5490,
 5500,
 5510,
 5520,
 5530,
 5540,
 5550,
 5560,
 5570,
 5580,
 5590,
 5600,
 5610,
 5620,
 5630,
 5640,
 5650,
 5660,
 5670,
 5680,
 5690,
 5700,
 5710,
 5720,
 5730,
 5740,
 5750,
 5760,
 5770,
 5780,
 5790,
 5800,
 5810,
 5820,
 5830,
 5840,
 5850,
 5860,
 5870,
 5880,
 5890,
 5900,
 5910,
 5920,
 5930,
 5940,
 5950,
 5960,
 5970,
 5980,
 5990,
 6000,
 6010,
 6020,
 6030,
 6040,
 6050,
 6060,
 6070,
 6080,
 6090,
 6100,
 6110,
 6120,
 6130,
 6140,
 6150,
 6160,
 6170,
 6180,
 6190,
 6200,
 6210,
 6220,
 6230,
 6240,
 6250,
 6260,
 6270,
 6280,
 6290,
 6300,
 6310,
 6320,
 6330,
 6340,
 6350,
 6360,
 6370,
 6380,
 6390,
 6400,
 6410,
 6420,
 6430,
 6440,
 6450,
 6460,
 6470,
 6480,
 6490,
 6500,
 6510,
 6520,
 6530,
 6540,
 6550,
 6560,
 6570,
 6580,
 6590,
 6600,
 6610,
 6620,
 6630,
 6640,
 6650,
 6660,
 6670,
 6680,
 6690,
 6700,
 6710,
 6720,
 6730,
 6740,
 6750,
 6760,
 6770,
 6780,
 6790,
 6800,
 6810,
 6820,
 6830,
 6840,
 6850,
 6860,
 6870,
 6880,
 6890,
 6900,
 6910,
 6920,
 6930,
 6940,
 6950,
 6960,
 6970,
 6980,
 6990,
 7000,
 7010,
 7020,
 7030,
 7040,
 7050,
 7060,
 7070,
 7080,
 7090,
 7100,
 7110,
 7120,
 7130,
 7140,
 7150,
 7160,
 7170,
 7180,
 7190,
 7200,
 7210,
 7220,
 7230,
 7240,
 7250,
 7260,
 7270,
 7280,
 7290,
 7300,
 7310,
 7320,
 7330,
 7340,
 7350,
 7360,
 7370,
 7380,
 7390,
 7400,
 7410,
 7420,
 7430,
 7440,
 7450,
 7460,
 7470,
 7480,
 7490,
 7500,
 7510,
 7520,
 7530,
 7540,
 7550,
 7560,
 7570,
 7580,
 7590,
 7600,
 7610,
 7620,
 7630,
 7640,
 7650,
 7660,
 7670,
 7680,
 7690,
 7700,
 7710,
 7720,
 7730,
 7740,
 7750,
 7760,
 7770,
 7780,
 7790,
 7800,
 7810,
 7820,
 7830,
 7840,
 7850,
 7860,
 7870,
 7880,
 7890,
 7900,
 7910,
 7920,
 7930,
 7940,
 7950,
 7960,
 7970,
 7980,
 7990,
 8000,
 8010,
 8020,
 8030,
 8040,
 8050,
 8060,
 8070,
 8080,
 8090,
 8100,
 8110,
 8120,
 8130,
 8140,
 8150,
 8160,
 8170,
 8180,
 8190,
 8200,
 8210,
 8220,
 8230,
 8240,
 8250,
 8260,
 8270,
 8280,
 8290,
 8300,
 8310,
 8320,
 8330,
 8340,
 8350,
 8360,
 8370,
 8380,
 8390,
 8400,
 8410,
 8420,
 8430,
 8440,
 8450,
 8460,
 8470,
 8480,
 8490,
 8500,
 8510,
 8520,
 8530,
 8540,
 8550,
 8560,
 8570,
 8580,
 8590,
 8600,
 8610,
 8620,
 8630,
 8640,
 8650,
 8660,
 8670,
 8680,
 8690,
 8700,
 8710,
 8720,
 8730,
 8740,
 8750,
 8760,
 8770,
 8780,
 8790,
 8800,
 8810,
 8820,
 8830,
 8840,
 8850,
 8860,
 8870,
 8880,
 8890,
 8900,
 8910,
 8920,
 8930,
 8940,
 8950,
 8960,
 8970,
 8980,
 8990,
 9000,
 9010,
 9020,
 9030,
 9040,
 9050,
 9060,
 9070,
 9080,
 9090,
 9100,
 9110,
 9120,
 9130,
 9140,
 9150,
 9160,
 9170,
 9180,
 9190,
 9200,
 9210,
 9220,
 9230,
 9240,
 9250,
 9260,
 9270,
 9280,
 9290,
 9300,
 9310,
 9320,
 9330,
 9340,
 9350,
 9360,
 9370,
 9380,
 9390,
 9400,
 9410,
 9420,
 9430,
 9440,
 9450,
 9460,
 9470,
 9480,
 9490,
 9500,
 9510,
 9520,
 9530,
 9540,
 9550,
 9560,
 9570,
 9580,
 9590,
 9600,
 9610,
 9620,
 9630,
 9640,
 9650,
 9660,
 9670,
 9680,
 9690,
 9700,
 9710,
 9720,
 9730,
 9740,
 9750,
 9760,
 9770,
 9780,
 9790,
 9800,
 9810,
 9820,
 9830,
 9840,
 9850,
 9860,
 9870,
 9880,
 9890,
 9900,
 9910,
 9920,
 9930,
 9940,
 9950,
 9960,
 9970,
 9980,
 9990,
 ...]

In [17]:
full_sites_sparse

<336358x48371 sparse matrix of type '<class 'numpy.int32'>'
	with 3195430 stored elements in Compressed Sparse Row format>

In [21]:
train_df.shape, test_df.shape

((253561, 21), (82797, 20))

In [22]:
b = np.array([[  0, 1, 2, 3],
              [10, 11, 12, 13],
              [20, 21, 22, 23],
              [30, 31, 32, 33],
              [40, 41, 42, 43]])

In [23]:
b[3:,:]

array([[30, 31, 32, 33],
       [40, 41, 42, 43]])

In [32]:
b[:,1:]

array([[ 1,  2,  3],
       [11, 12, 13],
       [21, 22, 23],
       [31, 32, 33],
       [41, 42, 43]])