<center>
<img src="../../img/ods_stickers.jpg">
## Open Machine Learning Course
<center>
Author: Yury Kashnitsky, Data Scientist at Mail.Ru Group

This material is subject to the terms and conditions of the license [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Free use is permitted for any non-comercial purpose with an obligatory indication of the names of the authors and of the source.

## <center>Assignment #6. Part 1
### <center> Beating benchmarks in "Catch Me If You Can: Intruder Detection through Webpage Session Tracking"
    
[Competition](https://www.kaggle.com/c/catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2). The task is to beat "Assignment 6 baseline".

In [1]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns
import os
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix, hstack
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.feature_extraction.text import TfidfVectorizer

Reading original data

In [12]:
PATH_TO_DATA = ('../../data')
train_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'train_sessions.csv'), index_col='session_id')
test_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'test_sessions.csv'), index_col='session_id')

In [200]:
Xst_df = test_df.fillna(0).astype(str)
Xst = Xst_df.reset_index()[Xst_df.columns].to_string(index=False).split('\n')

In [205]:
Xstf = tfidf.fit_transform(Xst)

In [206]:
lr.predict_proba(Xstf[1:])

array([[ 0.99586368,  0.00413632],
       [ 0.99403525,  0.00596475],
       [ 0.99598239,  0.00401761],
       ...,
       [ 0.99638491,  0.00361509],
       [ 0.99590688,  0.00409312],
       [ 0.9956035 ,  0.0043965 ]])

Separate target feature

In [13]:
y = train_df['target']

In [15]:
train_df.target.value_counts()

0    251264
1      2297
Name: target, dtype: int64

In [22]:
import pickle
# Load websites dictionary
with open(r"../../data/site_dic.pkl", "rb") as input_file:
    site_dict = pickle.load(input_file)

# Create dataframe for the dictionary
sites_dict = pd.DataFrame(list(site_dict.keys()), index=list(site_dict.values()), columns=['site'])
print(u'Websites total:', sites_dict.shape[0])
sites_dict.head()

Websites total: 48371

                                     site
25075              www.abmecatronique.com
13997                     groups.live.com
42436  majeureliguefootball.wordpress.com
30911           cdt46.media.tourinsoft.eu
8104                  www.hdwallpapers.eu

In [29]:
sites_dict.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48371 entries, 25075 to 43410
Data columns (total 1 columns):
site    48371 non-null object
dtypes: object(1)
memory usage: 2.0+ MB

In [40]:
sites_dict.loc[_]

                                site
21.0                   www.google.fr
23.0                  www.google.com
782.0                 annotathon.org
22.0                 apis.google.com
29.0                www.facebook.com
167.0                   www.bing.com
780.0         blast.ncbi.nlm.nih.gov
52.0             clients1.google.com
778.0           www.ncbi.nlm.nih.gov
812.0                mail.google.com
55.0   safebrowsing-cache.google.com
80.0                   s.youtube.com
570.0                plus.google.com
39.0             accounts.google.com
37.0                     twitter.com
30.0            platform.twitter.com
786.0               www.phylogeny.fr
35.0        s-static.ak.facebook.com
76.0                 www.youtube.com
33.0          static.ak.facebook.com

In [47]:
sites_dict[sites_dict.site.str.contains('porn')]

                             site
25559        thumb.pornravage.com
46821         www.sitedeporno.com
25565          pdv.pornravage.com
28373             www.youporn.com
12724              fr.youporn.com
25566        dhtml.pornravage.com
25538  images.v2.mypornmotion.com
25537        www.mypornmotion.com
25558        log.mypornmotion.com
36045       www.pornovoisines.com

Build Tf-Idf features based on sites. You can use `ngram_range`=(1, 3) and `max_features`=100000 or more

In [117]:
# You code here
tfidf = TfidfVectorizer(ngram_range=(1, 3), max_features=100000)
X_df = train_df.drop(['target'], axis=1)

In [123]:
X_df = X_df.fillna(0).astype(str)

In [182]:
X_df.shape

(253561, 20)

In [158]:
%%time
X = X_df.reset_index()[X_df.columns].to_string(index=False).split('\n')

Wall time: 1min 20s

In [160]:
%%time
X = tfidf.fit_transform(X)
y = y

Wall time: 44.5 s

In [168]:
N = 10
# индексы топ 10 столбцов с максимальной суммой элементов (в столбцах)
idx = np.ravel(X.sum(axis=0).argsort(axis=1))[::-1][:N]
top_10_words = np.array(tfidf.get_feature_names())[idx].tolist()

In [169]:
top_10_words

['2014', '2013', '11', '03', '02', '12', '2014 03', '2014 02', '04', '10']

In [177]:
tfidf.vocabulary_

{'718': 97128,
 '2014': 57169,
 '02': 1336,
 '20': 55786,
 '10': 15108,
 '45': 85194,
 '718 2014': 97131,
 '2014 02': 57194,
 '02 20': 2062,
 '20 10': 55938,
 '10 02': 15231,
 '02 45': 2374,
 '718 2014 02': 97133,
 '2014 02 20': 57205,
 '02 20 10': 2066,
 '20 10 02': 55941,
 '10 02 45': 15277,
 '890': 99063,
 '22': 59156,
 '11': 20175,
 '19': 53916,
 '50': 88607,
 '941': 99385,
 '3847': 80534,
 '51': 89314,
 '942': 99400,
 '3846': 80522,
 '52': 90005,
 '1516': 43243,
 '15': 39085,
 '1518': 43282,
 '16': 43733,
 '890 2014': 99071,
 '02 22': 2112,
 '22 11': 59389,
 '11 19': 21416,
 '19 50': 54980,
 '50 941': 89150,
 '941 2014': 99395,
 '50 3847': 88916,
 '3847 2014': 80542,
 '19 51': 54989,
 '51 941': 89856,
 '51 942': 89859,
 '942 2014': 99410,
 '51 3846': 89627,
 '3846 2014': 80529,
 '51 3847': 89628,
 '19 52': 54996,
 '52 3846': 90315,
 '1516 2014': 43250,
 '11 20': 21490,
 '20 15': 56288,
 '1518 2014': 43289,
 '20 16': 56365,
 '890 2014 02': 99073,
 '2014 02 22': 57207,
 '02 22 11': 2117,
 '22 11 19': 59409,
 '11 19 50': 21467,
 '50 941 2014': 89152,
 '941 2014 02': 99397,
 '3847 2014 02': 80544,
 '11 19 51': 21468,
 '51 941 2014': 89858,
 '51 942 2014': 89861,
 '942 2014 02': 99412,
 '3846 2014 02': 80531,
 '11 19 52': 21469,
 '1516 2014 02': 43252,
 '22 11 20': 59410,
 '11 20 15': 21506,
 '1518 2014 02': 43291,
 '11 20 16': 21507,
 '14769': 38983,
 '2013': 57113,
 '12': 25048,
 '40': 81623,
 '17': 48218,
 '39': 80744,
 '18': 51958,
 '14768': 38973,
 '37': 79101,
 '21': 57604,
 '24': 62370,
 '14769 2013': 38984,
 '2013 12': 57152,
 '12 16': 26062,
 '16 16': 44764,
 '16 40': 46389,
 '40 17': 81738,
 '17 39': 50767,
 '39 2013': 80892,
 '40 18': 81755,
 '18 14768': 52665,
 '14768 2013': 38974,
 '40 19': 81759,
 '19 37': 54909,
 '37 2013': 79245,
 '19 39': 54928,
 '19 14768': 54424,
 '40 20': 81776,
 '20 14768': 56284,
 '40 21': 81787,
 '21 14768': 58099,
 '40 22': 81794,
 '22 14768': 59662,
 '40 24': 81814,
 '2013 12 16': 57157,
 '12 16 16': 26079,
 '16 16 40': 44805,
 '16 40 17': 46407,
 '17 39 2013': 50786,
 '39 2013 12': 80903,
 '16 40 18': 46408,
 '18 14768 2013': 52666,
 '14768 2013 12': 38978,
 '16 40 19': 46409,
 '19 37 2013': 54910,
 '37 2013 12': 79254,
 '19 39 2013': 54929,
 '19 14768 2013': 54425,
 '16 40 20': 46410,
 '20 14768 2013': 56285,
 '16 40 21': 46411,
 '21 14768 2013': 58100,
 '16 40 22': 46412,
 '22 14768 2013': 59663,
 '16 40 24': 46414,
 '782': 97832,
 '03': 2586,
 '28': 69024,
 '42': 83136,
 '53': 90753,
 '54': 91512,
 '55': 92240,
 '56': 92938,
 '782 2014': 97833,
 '2014 03': 57214,
 '03 28': 3519,
 '28 10': 69161,
 '10 52': 18521,
 '52 12': 90056,
 '12 782': 29017,
 '52 42': 90338,
 '42 782': 83647,
 '10 53': 18584,
 '53 12': 90801,
 '53 42': 91063,
 '10 54': 18647,
 '54 12': 91572,
 '54 42': 91841,
 '10 55': 18708,
 '55 12': 92291,
 '55 42': 92548,
 '10 56': 18775,
 '56 12': 92997,
 '56 42': 93261,
 '782 2014 03': 97836,
 '2014 03 28': 57233,
 '03 28 10': 3522,
 '28 10 52': 69214,
 '10 52 12': 18534,
 '12 782 2014': 29018,
 '10 52 42': 18566,
 '42 782 2014': 83648,
 '28 10 53': 69215,
 '10 53 12': 18597,
 '10 53 42': 18629,
 '53 42 782': 91066,
 '28 10 54': 69216,
 '10 54 12': 18660,
 '10 54 42': 18690,
 '28 10 55': 69217,
 '10 55 12': 18721,
 '10 55 42': 18753,
 '28 10 56': 69218,
 '10 56 12': 18788,
 '10 56 42': 18820,
 '05': 5404,
 '177': 51869,
 '175': 51805,
 '178': 51918,
 '23': 60934,
 '59': 94935,
 '57': 93700,
 '06': 5986,
 '22 2014': 59988,
 '02 28': 2250,
 '53 05': 90767,
 '05 177': 5546,
 '177 2014': 51880,
 '55 22': 92395,
 '22 175': 59872,
 '175 2014': 51816,
 '22 178': 59880,
 '178 2014': 51929,
 '55 23': 92406,
 '23 177': 61497,
 '23 178': 61500,
 '55 59': 92630,
 '59 175': 95043,
 '59 177': 95048,
 '10 57': 18840,
 '57 06': 93716,
 '06 178': 6131,
 '57 11': 93742,
 '22 2014 02': 59990,
 '2014 02 28': 57213,
 '02 28 10': 2254,
 '10 53 05': 18590,
 '05 177 2014': 5548,
 '177 2014 02': 51882,
 '10 55 22': 18733,
 '22 175 2014': 59874,
 '175 2014 02': 51818,
 '22 178 2014': 59882,
 '178 2014 02': 51931,
 '10 55 23': 18734,
 '23 177 2014': 61499,
 '23 178 2014': 61502,
 '10 55 59': 18770,
 '59 175 2014': 95045,
 '59 177 2014': 95050,
 '28 10 57': 69219,
 '10 57 06': 18847,
 '06 178 2014': 6133,
 '10 57 11': 18852,
 '570': 94252,
 '31': 73289,
 '43': 83845,
 '29': 70531,
 '570 2014': 94266,
 '03 18': 3273,
 '18 15': 52669,
 '15 18': 40267,
 '18 31': 53165,
 '31 21': 74004,
 '21 2014': 58407,
 '18 39': 53252,
 '39 570': 81158,
 '15 23': 40622,
 '23 02': 60941,
 '02 21': 2090,
 '23 43': 61780,
 '43 21': 84000,
 '15 29': 41022,
 '29 57': 71530,
 '570 2014 03': 94269,
 '2014 03 18': 57223,
 '03 18 15': 3282,
 '18 15 18': 52688,
 '15 18 31': 40300,
 '18 31 21': 53168,
 '31 21 2014': 74013,
 '21 2014 03': 58410,
 '15 18 39': 40308,
 '39 570 2014': 81160,
 '18 15 23': 52693,
 '15 23 02': 40625,
 '23 02 21': 60942,
 '02 21 2014': 2104,
 '15 23 43': 40668,
 '23 43 21': 61781,
 '43 21 2014': 84002,
 '18 15 29': 52699,
 '15 29 57': 41082,
 '803': 98207,
 '13': 29768,
 '35': 77377,
 '46': 85870,
 '47': 86539,
 '14': 34429,
 '803 2014': 98214,
 '02 13': 1667,
 '13 16': 30802,
 '16 45': 46696,
 '45 35': 85472,
 '35 23': 77581,
 '23 2014': 61561,
 '35 37': 77694,
 '37 2014': 79255,
 '16 46': 46760,
 '46 05': 85884,
 '05 21': 5584,
 '16 47': 46824,
 '47 14': 86610,
 '14 803': 38452,
 '47 15': 86629,
 '47 16': 86641,
 '47 17': 86651,
 '803 2014 02': 98216,
 '2014 02 13': 57199,
 '02 13 16': 1683,
 '13 16 45': 30848,
 '16 45 35': 46733,
 '35 23 2014': 77583,
 '23 2014 02': 61563,
 '35 37 2014': 77696,
 '37 2014 02': 79257,
 '13 16 46': 30849,
 '16 46 05': 46766,
 '46 05 21': 85885,
 '05 21 2014': 5586,
 '21 2014 02': 58409,
 '13 16 47': 30850,
 '16 47 14': 46839,
 '14 803 2014': 38454,
 '16 47 15': 46840,
 '16 47 16': 46841,
 '16 47 17': 46842,
 '04': 3897,
 '27': 67434,
 '26': 65651,
 '5041': 89225,
 '14422': 38726,
 '14421': 38720,
 '32': 74655,
 '22 2013': 59975,
 '2013 04': 57120,
 '04 12': 4228,
 '12 10': 25646,
 '10 27': 16905,
 '27 26': 68252,
 '26 21': 66426,
 '21 2013': 58394,
 '26 29': 66508,
 '29 2013': 71239,
 '27 28': 68271,
 '28 5041': 69972,
 '5041 2013': 89226,
 '27 29': 68274,
 '14422 2013': 38727,
 '29 23': 71308,
 '23 2013': 61548,
 '29 21': 71256,
 '29 5041': 71490,
 '27 31': 68296,
 '31 14421': 73741,
 '14421 2013': 38721,
 '27 32': 68305,
 '22 2013 04': 59979,
 '2013 04 12': 57121,
 '04 12 10': 4239,
 '12 10 27': 25674,
 '10 27 26': 16933,
 '27 26 21': 68254,
 '26 21 2013': 66427,
 '21 2013 04': 58398,
 '26 29 2013': 66509,
 '29 2013 04': 71243,
 '10 27 28': 16935,
 '28 5041 2013': 69973,
 '5041 2013 04': 89227,
 '10 27 29': 16936,
 '14422 2013 04': 38728,
 '29 23 2013': 71311,
 '23 2013 04': 61552,
 '27 29 21': 68277,
 '29 21 2013': 71260,
 '29 5041 2013': 71491,
 '10 27 31': 16938,
 '14421 2013 04': 38722,
 '10 27 32': 16939,
 '668': 96420,
 '08': 7132,
 '940': 99370,
 '36': 78205,
 '668 2014': 96423,
 '03 17': 3205,
 '17 16': 49262,
 '16 23': 45263,
 '23 08': 60965,
 '08 940': 11027,
 '940 2014': 99380,
 '23 35': 61721,
 '35 942': 77939,
 '35 941': 77936,
 '23 36': 61734,
 '36 942': 78744,
 '36 940': 78738,
 '36 23': 78385,
 '23 52': 61829,
 '52 21': 90168,
 '52 22': 90176,
 '23 53': 61836,
 '668 2014 03': 96425,
 '2014 03 17': 57222,
 '03 17 16': 3222,
 '17 16 23': 49286,
 '16 23 08': 45272,
 '08 940 2014': 11029,
 '940 2014 03': 99383,
 '16 23 35': 45301,
 '35 942 2014': 77941,
 '942 2014 03': 99413,
 '35 941 2014': 77938,
 '941 2014 03': 99398,
 '16 23 36': 45302,
 '36 942 2014': 78746,
 '36 940 2014': 78740,
 '23 36 23': 61738,
 '36 23 2014': 78387,
 '23 2014 03': 61564,
 '16 23 52': 45318,
 '23 52 21': 61832,
 '52 21 2014': 90170,
 '52 22 2014': 90178,
 '22 2014 03': 59991,
 '16 23 53': 45319,
 '09': 11047,
 '229': 60882,
 '2336': 62132,
 '2044': 57386,
 '16 09': 44284,
 '09 13': 11864,
 '13 229': 31285,
 '229 2014': 60893,
 '16 10': 44346,
 '10 08': 15597,
 '08 570': 10777,
 '08 21': 8366,
 '08 229': 8501,
 '10 24': 16708,
 '24 21': 63211,
 '10 29': 17035,
 '10 39': 17705,
 '2336 2014': 62133,
 '10 40': 17770,
 '2044 2014': 57387,
 '02 20 16': 2072,
 '20 16 09': 56375,
 '16 09 13': 44298,
 '13 229 2014': 31287,
 '229 2014 02': 60895,
 '20 16 10': 56376,
 '16 10 08': 44355,
 '08 570 2014': 10779,
 '570 2014 02': 94268,
 '10 08 21': 15619,
 '08 21 2014': 8389,
 '08 229 2014': 8503,
 '16 10 24': 44372,
 '10 24 21': 16730,
 '24 21 2014': 63215,
 '16 10 29': 44377,
 '10 29 21': 17059,
 '29 21 2014': 71261,
 '16 10 39': 44387,
 '16 10 40': 44388,
 '01': 529,
 '41': 82411,
 '1500': 43160,
 '33': 75528,
 '34': 76496,
 '391': 81388,
 '2276': 60804,
 '2014 01': 57170,
 '01 27': 944,
 '27 09': 67523,
 '09 41': 13762,
 '41 01': 82415,
 '1500 2014': 43161,
 '09 42': 13824,
 '42 33': 83404,
 '33 33': 75801,
 '33 2014': 75695,
 '42 34': 83415,
 '391 2014': 81391,
 '34 35': 76764,
 '35 2014': 77552,
 '34 29': 76718,
 '29 2014': 71251,
 '2276 2014': 60805,
 '42 35': 83419,
 '42 40': 83470,
 '40 23': 81807,
 '42 41': 83473,
 '229 2014 01': 60894,
 '2014 01 27': 57189,
 '01 27 09': 947,
 '27 09 41': 67565,
 '09 41 01': 13764,
 '1500 2014 01': 43162,
 '27 09 42': 67566,
 '09 42 33': 13858,
 '33 33 2014': 75803,
 '33 2014 01': 75696,
 '09 42 34': 13859,
 '391 2014 01': 81392,
 '34 35 2014': 76766,
 '35 2014 01': 77553,
 '34 29 2014': 76720,
 '29 2014 01': 71252,
 '09 42 35': 13860,
 '09 42 40': 13865,
 '40 23 2014': 81809,
 '23 2014 01': 61562,
 '09 42 41': 13866,
 '3592': 78173,
 '44': 84534,
 '30': 72004,
 '01 22': 849,
 '22 13': 59525,
 '13 05': 30076,
 '21 39': 58615,
 '39 2014': 80904,
 '05 24': 5612,
 '3592 2014': 78174,
 '05 32': 5673,
 '32 890': 75197,
 '05 44': 5759,
 '44 35': 84800,
 '44 29': 84752,
 '44 22': 84697,
 '44 30': 84760,
 '30 2014': 72524,
 '44 33': 84785,
 '37 2014 01': 79256,
 '2014 01 22': 57184,
 '01 22 13': 855,
 '22 13 05': 59531,
 '13 05 21': 30098,
 '21 39 2014': 58617,
 '39 2014 01': 80905,
 '13 05 24': 30101,
 '3592 2014 01': 78175,
 '13 05 32': 30109,
 '32 890 2014': 75198,
 '890 2014 01': 99072,
 '13 05 44': 30121,
 '44 35 2014': 84802,
 '44 29 2014': 84754,
 '44 22 2014': 84699,
 '22 2014 01': 59989,
 '44 30 2014': 84762,
 '30 2014 01': 72525,
 '44 33 2014': 84787,
 '747': 97423,
 '749': 97472,
 '752': 97517,
 '03 31': 3579,
 '31 13': 73609,
 '13 51': 33101,
 '51 43': 89647,
 '43 747': 84288,
 '747 2014': 97434,
 '51 44': 89649,
 '44 23': 84710,
 '51 46': 89655,
 '46 749': 86322,
 '749 2014': 97473,
 '46 23': 86051,
 '13 52': 33165,
 '52 45': 90348,
 '45 21': 85356,
 '52 46': 90352,
 '46 752': 86327,
 '752 2014': 97524,
 '13 54': 33293,
 '54 43': 91844,
 '43 55': 84222,
 '55 2014': 92384,
 '31 14': 73673,
 '14 10': 35041,
 '10 12': 15869,
 '12 56': 28691,
 '56 2014': 93096,
 '12 55': 28624,
 '10 13': 15934,
 '2014 03 31': 57236,
 '03 31 13': 3586,
 '31 13 51': 73660,
 '13 51 43': 33145,
 '43 747 2014': 84290,
 '747 2014 03': 97437,
 '13 51 44': 33146,
 '51 44 23': 89651,
 '44 23 2014': 84712,
 '13 51 46': 33148,
 '46 749 2014': 86323,
 '749 2014 03': 97476,
 '46 23 2014': 86053,
 '31 13 52': 73661,
 '13 52 45': 33213,
 '52 45 21': 90350,
 '45 21 2014': 85358,
 '13 52 46': 33214,
 '46 752 2014': 86328,
 '752 2014 03': 97527,
 '31 13 54': 73663,
 '13 54 43': 33337,
 '43 55 2014': 84224,
 '55 2014 03': 92387,
 '03 31 14': 3587,
 '31 14 10': 73684,
 '14 10 12': 35054,
 '10 12 56': 15927,
 '12 56 2014': 28714,
 '56 2014 03': 93099,
 '10 12 55': 15926,
 '12 55 2014': 28647,
 '14 10 13': 35055,
 '262': 67002,
 '322': 75264,
 '625': 95896,
 '152': 43306,
 '2164': 59027,
 '262 2014': 67007,
 '2014 04': 57237,
 '04 04': 3935,
 '04 13': 4290,
 '13 12': 30524,
 '12 14': 25911,
 '14 322': 36634,
 '322 2014': 75270,
 '12 15': 25986,
 '625 2014': 95903,
 '16 52': 47146,
 '52 2014': 90163,
 '16 37': 46193,
 '12 23': 26549,
 '23 152': 61417,
 '152 2014': 43310,
 '12 31': 27085,
 '12 42': 27806,
 '2164 2014': 59029,
 '12 43': 27868,
 '12 44': 27930,
 '12 45': 27992,
 '262 2014 04': 67011,
 '2014 04 04': 57240,
 '04 04 13': 3941,
 '04 13 12': 4303,
 '13 12 14': 30539,
 '322 2014 04': 75274,
 '13 12 15': 30540,
 '625 2014 04': 95907,
 '13 12 16': 30541,
 '12 16 52': 26115,
 '16 52 2014': 47169,
 '52 2014 04': 90167,
 '12 16 37': 26100,
 '16 37 2014': 46216,
 '37 2014 04': 79259,
 '13 12 23': 30549,
 '152 2014 04': 43314,
 '13 12 31': 30557,
 '12 31 21': 27109,
 '21 2014 04': 58411,
 '13 12 42': 30568,
 '13 12 43': 30569,
 '13 12 44': 30570,
 '12 44 30': 27961,
 '30 2014 04': 72528,
 '13 12 45': 30571,
 '2883': 70455,
 '00': 0,
 '2945': 71835,
 '167': 48128,
 '76': 97582,
 '2883 2014': 70456,
 '03 22': 3383,
 '11 33': 22363,
 '33 00': 75529,
 '2945 2014': 71838,
 '33 16': 75637,
 '16 167': 44830,
 '167 2014': 48140,
 '33 19': 75667,
 '19 167': 54569,
 '33 20': 75683,
 '20 167': 56431,
 '33 21': 75700,
 '21 21': 58412,
 '33 22': 75708,
 '22 229': 60058,
 '33 27': 75751,
 '27 21': 68198,
 '27 76': 68518,
 '76 2014': 97593,
 '2883 2014 03': 70459,
 '2014 03 22': 57227,
 '03 22 11': 3388,
 '22 11 33': 59425,
 '11 33 00': 22364,
 '2945 2014 03': 71840,
 '11 33 16': 22380,
 '16 167 2014': 44832,
 '167 2014 03': 48143,
 '11 33 19': 22383,
 '19 167 2014': 54571,
 '11 33 20': 22384,
 '20 167 2014': 56433,
 '11 33 21': 22387,
 '33 21 21': 75703,
 '21 21 2014': 58417,
 '33 21 2014': 75702,
 '11 33 22': 22388,
 '22 229 2014': 60060,
 '229 2014 03': 60896,
 '11 33 27': 22393,
 '33 27 21': 75753,
 '27 21 2014': 68202,
 '27 76 2014': 68520,
 '76 2014 03': 97596,
 '248': 64011,
 '728': 97262,
 '3364': 76367,
 '3362': 76355,
 '1434': 38632,
 '102': 19405,
 '727': 97238,
 '02 04': 1367,
 '04 09': 4022,
 '09 31': 13102,
 '31 46': 74196,
 '248 2014': 64016,
 '728 2014': 97264,
 '31 47': 74200,
 '3364 2014': 76369,
 '3362 2014': 76357,
 '1434 2014': 38635,
 '47 30': 86778,
 '102 2014': 19411,
 '727 2014': 97240,
 '2014 02 04': 57197,
 '02 04 09': 1369,
 '04 09 31': 4054,
 '09 31 46': 13151,
 '248 2014 02': 64018,
 '728 2014 02': 97266,
 '09 31 47': 13152,
 '3364 2014 02': 76371,
 '3362 2014 02': 76359,
 '1434 2014 02': 38637,
 '47 30 2014': 86780,
 '30 2014 02': 72526,
 '102 2014 02': 19413,
 '727 2014 02': 97242,
 '63': 96001,
 '07': 6551,
 '25': 64080,
 '359': 78152,
 '360': 78757,
 '363': 78898,
 '362': 78870,
 '63 2014': 96012,
 '02 24': 2161,
 '24 08': 62391,
 '08 06': 7346,
 '06 14': 6076,
 '14 167': 35537,
 '08 07': 7407,
 '07 25': 6758,
 '25 167': 64725,
 '07 26': 6762,
 '26 359': 66561,
 '359 2014': 78162,
 '07 27': 6767,
 '27 167': 68073,
 '07 30': 6789,
 '30 167': 72414,
 '07 31': 6802,
 '31 360': 74145,
 '360 2014': 78764,
 '31 363': 74149,
 '363 2014': 78907,
 '31 362': 74147,
 '362 2014': 78877,
 '63 2014 02': 96014,
 '2014 02 24': 57209,
 '02 24 08': 2163,
 '24 08 06': 62395,
 '08 06 14': 7361,
 '14 167 2014': 35539,
 '167 2014 02': 48142,
 '24 08 07': 62396,
 '08 07 25': 7433,
 '25 167 2014': 64727,
 '08 07 26': 7434,
 '26 359 2014': 66562,
 '359 2014 02': 78164,
 '08 07 27': 7435,
 '27 167 2014': 68075,
 '08 07 30': 7438,
 '07 30 167': 6790,
 '30 167 2014': 72416,
 '08 07 31': 7439,
 '31 360 2014': 74146,
 '360 2014 02': 78766,
 '31 363 2014': 74150,
 '363 2014 02': 78909,
 '31 362 2014': 74148,
 '362 2014 02': 78879,
 '343': 77166,
 '270': 68606,
 '2726': 68675,
 '2727': 68681,
 '2725': 68667,
 '2724': 68663,
 '2732': 68710,
 '178 2013': 51919,
 '2013 02': 57116,
 '02 12': 1608,
 '15 15': 40050,
 '15 14': 39974,
 '343 2013': 77167,
 '167 2013': 48129,
 '15 16': 40127,
 '16 26': 45460,
 '26 270': 66500,
 '270 2013': 68607,
 '26 167': 66292,
 '16 29': 45658,
 '2726 2013': 68676,
 '16 31': 45792,
 '2725 2013': 68668,
 '2724 2013': 68664,
 '2732 2013': 68711,
 '178 2013 02': 51920,
 '2013 02 12': 57117,
 '02 12 15': 1620,
 '12 15 15': 26002,
 '15 15 14': 40065,
 '343 2013 02': 77168,
 '14 167 2013': 35538,
 '167 2013 02': 48130,
 '12 15 16': 26003,
 '15 16 26': 40154,
 '26 270 2013': 66501,
 '270 2013 02': 68608,
 '26 167 2013': 66293,
 '15 16 29': 40157,
 '15 16 31': 40159,
 '22736': 60798,
 '58': 94320,
 '38': 79869,
 '48': 87185,
 '22736 2013': 60799,
 '12 11': 25720,
 '11 06': 20542,
 '06 58': 6405,
 '11 07': 20603,
 '07 08': 6571,
 '07 19': 6699,
 '07 28': 6777,
 '07 38': 6860,
 '07 48': 6909,
 '07 58': 6978,
 '11 08': 20664,
 '08 08': 7468,
 '08 18': 8162,
 '08 20': 8297,
 '22736 2013 04': 60800,
 '04 12 11': 4240,
 '12 11 06': 25727,
 '11 06 58': 20601,
 '12 11 07': 25728,
 '11 07 08': 20612,
 '11 07 19': 20623,
 '11 07 28': 20632,
 '11 07 38': 20642,
 '11 07 48': 20652,
 '11 07 58': 20662,
 '12 11 08': 25729,
 '11 08 08': 20673,
 '11 08 18': 20683,
 '11 08 20': 20685,
 '2439': 63835,
 '01 29': 981,
 '29 11': 70739,
 '11 27': 21966,
 '27 15': 67933,
 '15 35': 41412,
 '15 52': 42499,
 '27 16': 68007,
 '2439 2014': 63839,
 '27 19': 68164,
 '27 20': 68181,
 '20 29': 56676,
 '20 803': 56974,
 '20 23': 56627,
 '2014 01 29': 57191,
 '01 29 11': 985,
 '29 11 27': 70768,
 '11 27 15': 21982,
 '27 15 35': 67969,
 '15 35 2014': 41435,
 '27 15 52': 67986,
 '15 52 2014': 42522,
 '52 2014 01': 90164,
 '11 27 16': 21983,
 '27 16 23': 68031,
 '16 23 2014': 45286,
 '27 16 29': 68037,
 '16 29 2014': 45681,
 '2439 2014 01': 63840,
 '11 27 19': 21986,
 '11 27 20': 21987,
 '20 29 2014': 56678,
 '20 803 2014': 56975,
 '803 2014 01': 98215,
 '27 20 23': 68184,
 '20 23 2014': 56631,
 '676': 96498,
 '812': 98289,
 '982': 99814,
 '677': 96517,
 '679': 96556,
 '676 2013': 96499,
 '2013 05': 57122,
 '05 12': 5469,
 '12 12': 25785,
 '12 52': 28436,
 '12 812': 29033,
 '812 2013': 98290,
 '982 2013': 99815,
 '12 39': 27618,
 '52 13': 90062,
 '13 23': 31288,
 '52 16': 90103,
 '16 677': 47673,
 '677 2013': 96518,
 '16 63': 47658,
 '63 2013': 96002,
 '52 35': 90280,
 '35 679': 77838,
 '679 2013': 96557,
 '52 39': 90321,
 '676 2013 05': 96503,
 '2013 05 12': 57123,
 '05 12 12': 5474,
 '12 12 52': 25839,
 '12 52 12': 28449,
 '12 812 2013': 29034,
 '812 2013 05': 98295,
 '12 39 2013': 27640,
 '39 2013 05': 80897,
 '12 52 13': 28450,
 '13 23 2013': 31310,
 '23 2013 05': 61553,
 '12 52 16': 28453,
 '16 677 2013': 47674,
 '677 2013 05': 96523,
 '16 63 2013': 47659,
 '63 2013 05': 96006,
 '12 52 35': 28474,
 '35 679 2013': 77839,
 '679 2013 05': 96561,
 '12 52 39': 28478,
 '09 59': 14901,
 '59 41': 95238,
 '41 21': 82572,
 '59 55': 95297,
 '59 56': 95307,
 '56 23': 93120,
 '59 58': 95319,
 '58 22': 94473,
 '04 10': 4084,
 '10 00': 15109,
 '00 56': 370,
 '56 21': 93101,
 '00 57': 376,
 '57 23': 93865,
 '57 63': 94109,
 '02 48': 2386,
 '04 09 59': 4082,
 '09 59 41': 14943,
 '59 41 21': 95239,
 '41 21 2014': 82574,
 '09 59 55': 14957,
 '55 22 2014': 92397,
 '09 59 56': 14958,
 '59 56 23': 95311,
 '56 23 2014': 93122,
 '09 59 58': 14960,
 '58 22 2014': 94475,
 '02 04 10': 1370,
 '04 10 00': 4085,
 '10 00 56': 15166,
 '00 56 21': 373,
 '56 21 2014': 93103,
 '10 00 57': 15167,
 '00 57 23': 379,
 '57 23 2014': 93867,
 '57 63 2014': 94111,
 '04 10 02': 4087,
 '10 02 48': 15280,
 '780': 97806,
 '03 26': 3475,
 '26 11': 65881,
 '27 00': 67435,
 '00 782': 461,
 '27 30': 68281,
 '30 782': 72871,
 '11 28': 22033,
 '28 00': 69025,
 '28 30': 69843,
 '11 29': 22097,
 ...}

In [179]:
X.shape

(253562, 100000)

In [185]:
X[0:10].toarray()

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [180]:
y.shape

(253561,)

In [186]:
lr = LogisticRegression(C=1.0, random_state=17, n_jobs=-1).fit(X[1:], y)

In [188]:
y_pred = lr.predict_proba(X[1:])

In [189]:
y_pred

array([[  9.99076443e-01,   9.23557276e-04],
       [  9.98348705e-01,   1.65129465e-03],
       [  9.51719582e-01,   4.82804183e-02],
       ...,
       [  9.97669493e-01,   2.33050713e-03],
       [  9.99570319e-01,   4.29680964e-04],
       [  9.99080547e-01,   9.19452657e-04]])

In [194]:
score = roc_auc_score(y, y_pred[:, 1])
score

0.99733487149399291

In [195]:
from sklearn.model_selection import cross_val_score

In [198]:
cross_val_score(LogisticRegression(), X[1:], y, scoring='roc_auc')

array([ 0.99326522,  0.99353094,  0.99354434])

Add features based on the session start time: hour, whether it's morning, day or night and so on.

In [ ]:
# You code here

Scale this features and combine then with Tf-Idf based on sites (you'll need `scipy.sparse.hstack`)

In [ ]:
# You code here

Perform cross-validation with logistic regression.

In [ ]:
# You code here

Make prediction for the test set and form a submission file.

In [ ]:
test_pred = # You code here

In [208]:
def write_to_submission_file(predicted_labels, out_file,
                             target='target', index_label="session_id"):
    predicted_df = pd.DataFrame(predicted_labels,
                                index = np.arange(1, predicted_labels.shape[0] + 1),
                                columns=[target])
    predicted_df.to_csv(out_file, index_label=index_label)

In [211]:
write_to_submission_file(lr.predict_proba(Xstf[1:])[:,1], "assignment6_alice_submission.csv")